/* GENERAL */
:root {
  --interactive-color: #404bbf;
  --title-text-color: #2e2f42;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/* HEADER */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.header-logo {
  color: var(--title-text-color);
}

.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-menu-item:hover {
  color: var(--interactive-color);
}

.header-menu-item:focus {
  color: var(--interactive-color);
}

.address {
  font-style: normal;
}
.header-soc-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-soc-link:hover {
  color: var(--interactive-color);
}
.header-soc-link:focus {
  color: var(--interactive-color);
}
/* MAIN */
.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: var(--interactive-color);
}
.hero-btn:focus {
  background-color: var(--interactive-color);
}
.main-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.main-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
}
.team-subtitle,
.team-text {
  text-align: center;
}
.footer {
  background-color: var(--title-text-color);
}
.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* PORTFOLIO */

.portfolio {
}
.portfolio-sorting {
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.portfolio-btn:hover {
  color: #ffffff;
  background-color: var(--interactive-color);
}

.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--interactive-color);
}
